// colors
$clr_white: #fff !default;
$clr_black: #222 !default;
$clr_highlight_transparent: #c94c4c88 !default;
$clr_white_transparent: #fff7 !default;

// fonts
$font_size_small: 10px;
$font_size_normal: 12px;