@import "Variables";
// pages
@import "../pages/ContactPage";
@import "../pages/WorksPage";
// components
@import "../components/Layout";
@import "../components/Navigation";
@import "../components/WorksTile";
@import "../works/WorksPage";

.App {
  * {
    font-family: Avenir, Helvetica, Futura, Tahoma, sans-serif;
    line-height: 1.6;
    color: $clr_black;
  }

  h1 {
    font-weight: bold;
    font-size: 5vmax;
    line-height: 100%;
    text-align: justify;
    margin: 2em 0 1em;
  }

  h2 {
    font-size: 1em;

  }

  h3 {
  }

  p {

  }
}