@import "Variables";
// pages
@import "../pages/ContactPage";
// components
@import "../components/Layout";
@import "../components/Navigation";
@import "../components/WorksTile";

@import "../pages/WorksPage";

.App {
  * {
    font-family: Avenir, Helvetica, Futura, Tahoma, sans-serif;
    color: $clr_black;
    font-size: 16px;
  }

  h1 {
    font-weight: bold;
    font-size: 5vmax;
    text-align: justify;
    margin: 2em 0 1em;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 3em;
    line-height: 1.5em;
  }

  h3 {
    font-size: 2vmax;
  }

  p {
    line-height: 1.8;
    margin-bottom: 1.5em;
  }

  a {
    text-decoration: underline;
  }

  .no-text-intent {
    text-indent: unset;
  }

  .horizontal-container {
    display: flex;
    flex-direction: row;
  }
}