@import "Variables";
// pages
@import "../pages/ContactPage";
@import "../pages/WorksPage";
// components
@import "../components/Layout";
@import "../components/Navigation";
@import "../components/WorksElement";

.App {
  * {
    font-family: Avenir, Helvetica, Futura, Tahoma, sans-serif;
    line-height: 1.4;
    color: $clr_black;
  }

  h1 {
    font-weight: bold;
    font-size: 5vmax;
    line-height: 100%;
    margin: 0;
    text-align: justify;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    margin: 0;
  }

  p {
    font-size: 0.9em;
    margin: 0;
  }

  .radial-background {
    background-image: radial-gradient(#0001, transparent);
  }

  .hide-top {
    transform: translateY(-100vh);
  }

  .hide-bottom {
    transform: translateY(100vh);
  }
}