.AudioFeaturePage {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .playerContainer {
    padding-top: 7vh;
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 700px;
    height: 60vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 1s ease-in-out;

    .button {
      max-width: 280px;
      max-height: 280px;
      height: 30vh;
      outline: none;
      transition: 1s ease-in-out;
    }

    .player {
      display: none;
    }

    .seekBar {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: 6vh;

      input, .progress {
        margin: 0;
        position: absolute;
        width: 100%;
        background-color: $clr_white_transparent;
        .progress-bar {
          background-color: $clr_highlight_transparent;
          background-image: none;
          background-repeat: unset;
          box-shadow: unset;
        }
      }

      .progress, .progress-bar {
        min-height: 12px;
        max-height: 16px;
        height: 1vmax;
      }

      .progress {
        background-image: none;
        border-radius: unset;
        background-repeat: unset;
      }

      input {
        opacity: 0;
      }
    }

    time {
      font-size: $font_size_normal;
      padding-top: 0.5em;
      align-self: flex-start;
    }
  }

  .popUpContainer {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    max-width: 400px;
    width: 90vw;
    max-height: 80vh;
    padding: 5vh 5vw;
    transition: 1s ease-in-out;
    background-color: $clr_highlight_transparent;

    .carousel {
      .carousel-indicators {
        li {
          width: 1em;
          height: 1em;
          margin: 0 0.5em;
          bottom: 0;
        }
      }
    }

    .carousel-inner {
      .item {
        padding: 5vh 0;
        height: 400px;

        & > * {
          padding-bottom: 1em;
        }
      }
    }
  }

  .disclaimer-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.5s;
    &.collapse {
      opacity: 0;
    }
    &.top {
      top: -17px;
      height: 2em;
    }

    .arrow-button {
      margin: auto;
      width: 0;
      border-left: 4vmax solid transparent;
      border-right: 4vmax solid transparent;
    }

    .arrow-down {
      border-bottom: 4vmax solid $clr_highlight_transparent;
    }

    .arrow-up {
      border-top: 4vmax solid $clr_highlight_transparent;
    }

    @media screen and (min-width: 1000px) {
      .arrow-button {
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
      }

      .arrow-down {
        border-bottom: 40px solid $clr_highlight_transparent;
      }

      .arrow-up {
        border-top: 40px solid $clr_highlight_transparent;
      }
    }
  }
}