.ContactPage {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    position: relative;
    color: $clr_black;

    &:after {
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -1px;
      border-width: 0 0 1px;
      border-style: solid;
    }

    &:hover {
      &:after {
        bottom: -2px;
      }
    }
  }
}