.ContactPage {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .center-container {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0 0 0.5em;
    }

    .link {
      text-decoration: none;
      position: relative;
      color: $clr_black;

      &:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -0px;
        border-width: 0 0 1px;
        border-style: solid;
      }

      &:hover {
        &:after {
          bottom: -2px;
        }
      }
    }

    .icon {
      margin-top: 1em;
      align-self: center;
      img {
        width: 28px;
      }
    }
  }
}