.PodcastPage{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .playerContainer {
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    width: 50vh;
    height: 50vh;
    align-items: center;
    justify-content: center;

    .button {
      max-width: 280px;
      max-height: 280px;
      width: 25vmax;
      height: 25vmax;
      outline: none;
      transition: 1s ease-in-out;
    }

    .player {
      display: none;
    }

    .seekBar {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: 4vh;

      input, .progress {
        margin: 0;
        position: absolute;
        width: 100%;
        background-color: $clr_white_transparent;
        .progress-bar {
          background-color: $clr_highlight_transparent;
        }
      }

      .progress, .progress-bar {
        min-height: 8px;
        max-height: 12px;
        height: 1vmin;
      }

      input {
        opacity: 0;
      }
    }

    time {
      font-size: $font_size_normal;
      padding-top: 0.5em;
      align-self: flex-start;
    }
  }
}