.WorksPage {

  .carousel-pagination {
    display: flex;
    justify-content: center;

    .paginationButton {
      width: 0.5em;
      height: 0.5em;
      margin: 0.4em;
      padding: 0.25em;
      border: 1px solid #222;
      transition: 0.3s ease-in;

      &.active {
        transform: translateY(-0.2em) rotate(45deg);
      }
    }
  }
}