.WorksPage {
  display: flex;
  justify-content: center;
  flex-direction: column;

  button {
    background-size: 100%;
    border: unset;

    &:focus {
      outline: 0;
    }
  }

  .carousel-pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;

    button {
      margin: 0.1em;
      width: 22px;
      height: 22px;
    }
  }

  .carousel-body {
    width: 100vw;

    .carousel-nav-arrows {

      button {
        position: absolute;
        top: 40%;
        z-index: 1000;
        height: 40px;
        width: 40px;

        &.arrow-left {
          left: 5vw;
        }

        &.arrow-right {
          right: 5vw;
        }
      }
    }
  }
}