.WorksPage {
  max-width: 460px;
  margin: 1em auto 8em auto;

  .header-container {
    align-items: flex-end;
    justify-content: space-between;
    margin: 2em 0 1em;

    &>* {
      margin: 0;
    }
  }

  img {
    width: 100%;
  }
}