.WorksCarousel {

  .carousel-body {
    ._carousel-cell_zvdee_31 {
      backface-visibility: visible !important;
      opacity: 1;
    }

    .carousel-nav-arrows {
      button {
        position: absolute;
        top: 40%;
        z-index: 1000;

        border: solid black;
        border-width: 0 $line_width $line_width 0;
        display: inline-block;
        padding: 12px;
        transition: 0.1s ease-in-out;

        &.arrow-left {
          transform: rotate(135deg);
          left: 8vw;

          &:active {
            transform: translateX(-0.5em) rotate(135deg);
          }
        }

        &.arrow-right {
          transform: rotate(-45deg);
          right: 8vw;

          &:active {
            transform: translateX(0.5em) rotate(-45deg);
          }
        }
      }
    }
  }

  .WorksTile {
    &.inBack {
      opacity: 0.8;
      filter: blur(3px) brightness(95%);

      .textContainer {
        opacity: 0.2;
      }
    }

    &.inFront {
      &.gradientFilter:after {
        pointer-events: none;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
      }

      &.leftFront:after {
        background: linear-gradient(to right, white 10%, rgba(255, 255, 255, 0.001) 22%);
      }

      &.rightFront:after {
        background: linear-gradient(to left, white 10%, rgba(255, 255, 255, 0.001) 22%);
      }
    }
  }
}