.WorksTile {
  min-height: 358px;
  display: flex;
  margin-bottom: 4em;

  a {
    text-decoration: none !important;
  }

  .random-h-pos-container {
    padding: 6px;
    width: 50vw;
    min-width: 250px;
    max-width: 300px;
    margin: auto;
    transition: 1s ease-in-out;
    transition-delay: 0.2s;

    @media screen and (min-width: 768px) {
      position: relative;
      margin: unset;
    }

    @media screen and (max-width: 400px) {
      width: 100%;
      max-width: unset;
    }

    &:hover {
      transition: 0s;
    }

    .imageContainer {
      width: 100%;
      overflow: hidden;

      .imageBox {
        padding-bottom: 100%;
        background-size: cover;
        background-position: center center;
        transition: 0.2s ease-in-out;

        &:hover {
          transform: scale(1.04);
        }
      }
    }

    h2 {
      margin: 8px 0 2px;
    }

    p {
      margin: 0;
      line-height: 1.6em;
    }
  }
}