.WorksTile {
  min-height: 358px;
  width: 300px;
  margin: 0 auto 4em;

  a {
    text-decoration: none !important;
  }

  &.inBack {
    filter: blur(3px);
    opacity: 0.8;
    .textContainer {
      opacity: 0.2;
    }
  }

  &.inFront {

    &.gradientFilter:after {
      pointer-events: none;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      left: 0;
      top:0;
    }
    &.leftFront:after {
      background: linear-gradient(to right, white 10%, transparent 18%);
    }
    &.rightFront:after {
       background: linear-gradient(to left, white 10%, transparent 18%);
    }
  }

  .container {
    width: 100%;
    transition: 0.1s ease-in-out;

    &:hover .imageBox {
      transform: scale(1.02);
    }

    .imageContainer {
      width: 100%;
      overflow: hidden;

      .imageBox {
        padding-bottom: 100%;
        background-size: cover;
        background-position: center center;
        transition: 0.1s linear;
      }
    }

    h2 {
      font-size: 2em;
      margin: 8px 0 2px;
    }

    p {
      margin: 0;
      line-height: 1.6em;
    }
  }
}